
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="align-items-center text-center justify-content-between bg-light py-2 px-4 mb-3">
                    <h6 class="m-0 text-center">গুরুত্বপূর্ণ লিংক</h6>
                </div>
                <div class="ml-3">
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i> শিক্ষা
                            মন্ত্রণালয়
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i>মাধ্যমিক ও
                            উচ্চ শিক্ষা অধিদপ্তর
                        </a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>EMIS</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>NTRCA</a>
                        <a class="text-secondary" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>ব্যানবেইজ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="align-items-center text-center justify-content-between bg-light py-2 px-4 mb-3">
                    <h6 class="m-0 text-center">অন্যান্য</h6>
                </div>

                <div class="ml-3">
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i> জাতীয় তথ্য
                            বাতায়ন
                        </a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>মুক্তপাঠ</a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i>পঞ্চগড়
                            জেলা
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i>দেবীগঞ্জ
                            উপজেলা
                        </a>
                        <a class="text-secondary" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i>টেপ্রীগঞ্জ
                            ইউনিয়ন
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="align-items-center text-center justify-content-between bg-light py-2 px-4 mb-3">
                    <h6 class="m-0 text-center">শিক্ষাবোর্ড</h6>
                </div>

                <div class="ml-3">
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i> ঢাকা
                            শিক্ষাবোর্ড
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i>রাজশাহী
                            শিক্ষাবোর্ড
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i>দিনাজপুর
                            শিক্ষাবোর্ড
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i>শিক্ষাবোর্ড,দিনাজপুর
                        </a>
                        <a class="text-secondary" href="#">
                            <i class="fa fa-angle-right text-dark mr-2"></i>বোর্ড
                            রেজাল্ট
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
