 <!-- Topbar Start -->
<div class="container-fluid">
    <div class="row align-items-center bg-light px-lg-5">
        <div class="col-12 col-md-8">
            <div class="d-flex justify-content-between">
                <div class="bg-primary text-white text-center py-2"
                     style="width: 100px">
                    Notice
                </div>
                <div class="owl-carousel owl-carousel-1 tranding-carousel position-relative d-inline-flex align-items-center ml-3"
                     style="width: calc(100% - 100px); padding-left: 90px">
                    <div class="text-truncate">
                        <a class="text-secondary" href="">ওয়েবসাইট তৈরি/হালনাগাদ... </a>
                    </div>
                    <div class="text-truncate">
                        <a class="text-secondary" href="">প্রশংসা পত্র ডাউনলোড... </a>
                    </div>
                    <div class="text-truncate">
                        <a class="text-secondary" href="">পরীক্ষার ফলাফল প্রকাশ... </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-right d-none d-md-block">
            <span id="dateShow"></span>
        </div>
    </div>
    <div class="row align-items-center py-2 px-lg-5">
        <div class="col-lg-4">
            <a href="" class="navbar-brand d-none d-lg-block">
                <h1 class="m-0 display-5 text-uppercase">
                    <span class="text-primary">High</span>School
                </h1>
            </a>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            <!-- <img class="img-fluid" src="img/ads-700x70.jpg" alt=""> -->
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid p-0 mb-3">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-uppercase">
                <span class="text-primary">High</span>School
            </h1>
        </a>
        <button type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3"
             id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="/Index" class="nav-item nav-link" id="homePage">মূলপাতা</a>
                <a asp-page="/Website/Teacher/TeacherList" class="nav-item nav-link" id="teacherPage">জনবল</a>
                <a asp-page="/Website/Student/StudentList" class="nav-item nav-link" id="studentPage">শিক্ষার্থীদের তথ্য</a>
                <!-- <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >Dropdown</a
                  >
                  <div class="dropdown-menu rounded-0 m-0">
                    <a href="#" class="dropdown-item">Menu item 1</a>
                    <a href="#" class="dropdown-item">Menu item 2</a>
                    <a href="#" class="dropdown-item">Menu item 3</a>
                  </div>
                </div> -->
                <a asp-page="/Website/Contact/ContactUs" class="nav-item nav-link" id="contactPage">যোগাযোগ</a>
            </div>
            <!-- <div class="input-group ml-auto" style="width: 100%; max-width: 300px;">
                      <input type="text" class="form-control" placeholder="Keyword">
                      <div class="input-group-append">
                          <button class="input-group-text text-secondary"><i
                                  class="fa fa-search"></i></button>
                      </div>
                  </div> -->
        </div>
    </nav>
</div>
<!-- Navbar End -->
