@page
@model school_web_app.Pages.Website.Teacher.TeacherListModel
@{
}


<!-- Featured News Slider Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                    <h3 class="m-0">কর্মরত শিক্ষক-কর্মচারী</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex mb-3">
                    <img src="~/img/principal-two.png"
                         style="width: 200px; height: 230px; object-fit: cover" />
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3"
                         style="height: 230px">
                        <h5>Md. Rejaul Karim</h5>
                        <p class="m-0 p-0 pb-2">পদবী : Head Master</p>
                        <p class="m-0 p-0 pb-2">
                            শিক্ষাগত যোগ্যতা : B.Sc (Pass), B.Ed, M.Ed
                        </p>
                        <p class="m-0 p-0 pb-2">ঠিকানা : Debiganj, Panchagarh</p>
                        <p class="m-0 p-0 pb-2">মোবাইল : 01719421609</p>
                        <p class="m-0 p-0">
                            ইমেইল :
                            <a class="h6 m-0" href="mailto:abcd@mail.com">tepablhs65@gmail.com</a>
                        </p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <img src="~/img/teacher.jpg"
                         style="width: 200px; height: 230px; object-fit: cover" />
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3"
                         style="height: 230px">
                        <h5>Md. Faridul Islam</h5>
                        <p class="m-0 p-0 pb-2">পদবী : Assistent Teacher</p>
                        <p class="m-0 p-0 pb-2">শিক্ষাগত যোগ্যতা : Kamil</p>
                        <p class="m-0 p-0 pb-2">
                            ঠিকানা : Battali, Tepriganj, Debiganj, Panchagarh
                        </p>
                        <p class="m-0 p-0 pb-2">মোবাইল : 01717330159</p>
                        <p class="m-0 p-0">
                            ইমেইল :
                            <a class="h6 m-0" href="mailto:abcd@gmail.com">abcd@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex mb-3">
                    <img src="~/img/vice-principal.jpg"
                         style="width: 200px; height: 230px; object-fit: cover" />
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3"
                         style="height: 230px">
                        <h5>Jagadish Chandra Sen</h5>
                        <p class="m-0 p-0 pb-2">পদবী : Assistent Head Master</p>
                        <p class="m-0 p-0 pb-2">শিক্ষাগত যোগ্যতা : B.Sc (Pass), B.Ed</p>
                        <p class="m-0 p-0 pb-2">
                            ঠিকানা : Tepriganj, Debiganj, Panchagarh
                        </p>
                        <p class="m-0 p-0 pb-2">মোবাইল : 01724859507</p>
                        <p class="m-0 p-0">
                            ইমেইল :
                            <a class="h6 m-0" href="mailto:abcd@gmail.com">abcd@gmail.com</a>
                        </p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <img src="~/img/teacher-two.jpeg"
                         style="width: 200px; height: 230px; object-fit: cover" />
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3"
                         style="height: 230px">
                        <h5>Md. Harunoor Rashid Sarker</h5>
                        <p class="m-0 p-0 pb-2">পদবী : Assistent Teacher</p>
                        <p class="m-0 p-0 pb-2">শিক্ষাগত যোগ্যতা : B.A (Pass), BPed</p>
                        <p class="m-0 p-0 pb-2">ঠিকানা : Panchagarh</p>
                        <p class="m-0 p-0 pb-2">মোবাইল : 01723996862</p>
                        <p class="m-0 p-0">
                            ইমেইল :
                            <a class="h6 m-0" href="mailto:abcd@gmail.com">abcd@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured News Slider End -->



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#teacherPage").addClass("active");
        });</script>
}