@page
@model school_web_app.Pages.Website.Student.StudentListModel
@{
}


<!-- Featured News Slider Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                    <h3 class="m-0">অধ্যয়নরত শিক্ষার্থীর সংখ্যা</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>শ্রেণী</th>
                            <th colspan="3">শিক্ষার্থী</th>
                            <th colspan="2">বিভাগ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-light">
                            <td></td>
                            <td>ছাত্র</td>
                            <td>ছাত্রী</td>
                            <td>মোট</td>
                            <td>বিজ্ঞান</td>
                            <td>মানবিক</td>
                        </tr>
                        <tr class="bg-light">
                            <td>ষষ্ঠ শ্রেণী</td>
                            <td>৬১</td>
                            <td>৫৯</td>
                            <td>১২০</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr class="bg-light">
                            <td>সপ্তম শ্রেণী</td>
                            <td>৬১</td>
                            <td>৫৯</td>
                            <td>১২০</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr class="bg-light">
                            <td>অষ্টম শ্রেণী</td>
                            <td>৬১</td>
                            <td>৫৯</td>
                            <td>১২০</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr class="bg-light">
                            <td>নবম শ্রেণী</td>
                            <td>৬১</td>
                            <td>৬১</td>
                            <td>১২২</td>
                            <td>৩৪</td>
                            <td>৮৮</td>
                        </tr>

                        <tr class="bg-light">
                            <td>দশম শ্রেণী</td>
                            <td>৬১</td>
                            <td>৬১</td>
                            <td>১২২</td>
                            <td>৩৪</td>
                            <td>৮৮</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <tr class="bg-light">
                        <td>মোট শিক্ষার্থীর সংখ্যা :</td>
                        <td class="text-right">৫৭০</td>
                    </tr>
                    <tr class="bg-light">
                        <td>ছাত্র :</td>
                        <td class="text-right">২৭৩</td>
                    </tr>
                    <tr class="bg-light">
                        <td>ছাত্রী :</td>
                        <td class="text-right">২৯৭</td>
                    </tr>

                    <tr class="bg-light">
                        <td>বিজ্ঞান বিভাগ :</td>
                        <td class="text-right">৫৭</td>
                    </tr>

                    <tr class="bg-light">
                        <td>মানবিক বিভাগ :</td>
                        <td class="text-right">১৭৬</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@*<iframe width="100%" src="https://tepriganjhighschool.edu.bd/public/backend/notice/1692531744.pdf" frameborder="0" style="height: 100vh; margin-top: 15px;"></iframe>*@

<!-- Featured News Slider End -->


@await Html.PartialAsync("_ImportantLinks")




@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#studentPage").addClass("active");
        });</script>
}